@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro&display=swap');

body {
    font-family: Montserrat, sans-serif;
}

.main {
    max-width: 650px;
    margin: auto;
    padding-top: 10px;
}

@keyframes slidein {
    0% {
        opacity: 0.1;
        transform: translate(0, 0);
    }

    100% {
        opacity 0.8;
    }
}

.disc {
    animation-duration: 0.4s;
    animation-name: slidein;
    animation-timing-function: cubic-bezier(.7,0,1,.79);
}

